<ul class="nav">
  <li *ngFor="let item of menu" class="nav__item" (mouseenter)="openSubmenu($event, item)"
    (mouseleave)="closeSubmenu(item)">

    <a class="nav__link" [routerLink]="item.link" routerLinkActive="is-active"
      (click)="clickHandler($event, item)" [attr.aria-label]="item.titulo" [attr.title]="item.titulo">
      <i [ngClass]="item.icono" aria-hidden="true"></i>
      <span class="ag-visually-hidden">{{ item.titulo }}</span>
      <i *ngIf="item.menu" class="nav__caret pi pi-angle-right" aria-hidden="true"></i>
    </a>

    <!-- Submenu flotante -->
    <div *ngIf="item.menu && !item.collapsed" class="nav__flyout" role="menu" [attr.aria-label]="item.titulo">
      <p class="nav__flyout-title">{{ item.titulo }}</p>
      <a *ngFor="let subitem of item.menu" class="nav__flyout-link" role="menuitem" [routerLink]="subitem.link"
        routerLinkActive="is-active" (click)="clickHandler($event, subitem)">
        <i class="pi pi-chevron-right" aria-hidden="true"></i>
        <span>{{ subitem.titulo }}</span>
      </a>
    </div>
  </li>
</ul>
